# EditorConfig configuration for card-collection
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{kt,kts}]
indent_size = 4
continuation_indent_size = 4
ij_kotlin_align_multiline_parameters = true
ij_kotlin_allow_trailing_comma = false

[*.{java,xml,sql}]
indent_size = 4

[*.{yml,yaml,json,properties}]
indent_size = 2

[*.md]
indent_size = 2
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
